# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [1]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [2]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }

vendas_df = pd.DataFrame(venda) # é bom notificar no nome da variavel que é um df(dataframe),
                                # tbm pode colocar tabela (tabela_vendas , por exemplo)

### Visualização dos Dados
    - print
    - display

In [5]:
#print(vendas_df)
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [7]:
vendas_df = pd.read_excel('Vendas.xlsx')
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [10]:
display(vendas_df.head()) #as 5 primeiras linhas (coloque um numero dentro do () para mais linhas)

display(vendas_df.shape) #quantas linhas e quantas colunas existem na tabela

display(vendas_df.describe()) # faz um resumo das colunas numéricas com quantidade, media, desvio padrão
                              # minimo, quantidades, etc

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [12]:
produtos = vendas_df['Produto'] #quando vc pega só uma coluna, não é um dataframe, e sim uma serie.

produtos2 = vendas_df[['Produto', 'ID Loja']] # quando vc quer pegar mais de 1 coluna, usamos uma lista.
                                              # e sim, usamos 2 []

display(produtos2)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [17]:
# 1 # pegar uma linha
display(vendas_df.loc[1:5])

# 2 # pegar linhas que correspondem a uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
display(vendas_norteshopping_df)

# 3 # pegar várias linhas e colunas usando o loc # 		 loc(linha,coluna)
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping',['ID Loja', 'Produto', 'Quantidade'] ]
display(vendas_norteshopping_df)

# 4 # pegar um valor específico
print(vendas_df.loc[1,'Produto'])

Camiseta

### Adicionar 1 coluna

In [20]:
# 1. A partir de uma coluna que existe - se vc tentar "editar" uma coluna que não existe,
# o pandas cria essa coluna 
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05

# 2. Criar uma coluna padrão
# o : serve para falar "todas as linhas (ou colunas)" para o pandas
vendas_df.loc[: , 'Imposto'] = 0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [21]:
#vendas_dez_df = pd.read_excel('Vendas - Dez.xlsx')
#display(vendas_dez_df)

#vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

### Excluir linhas e colunas

In [22]:
vendas_df = vendas_df.drop('Imposto', axis=1)
# axis = eixo ---- 1 = coluna, 0 = linha
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [ ]:
# Deletar linhas/colunas vazias COMPLETAMENTE vazias
vendas_df = vendas_df.dropna(how='all') # o parametro força a excluir APENAS se todos os dados forem nulos

# deletar linhas que possuem pelo menos 1 valor vazio
vendas_df = vendas_df.dropna()

# preencher valores vazios
# 1. com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())

# 2. com o último valor acima
vendas_df = vendas_df.ffill()

### Calcular Indicadores
    - Groupby
    - Value Counts

In [27]:
# Value Counts
#transações_por_loja = vendas_df['ID Loja'].value_counts()
#display(transações_por_loja)

# Groupby
faturamento_por_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_por_produto)

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [30]:
gerentes_df = pd.read_excel('Gerentes.xlsx')
#display(gerentes_df)
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,Salvador
...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,9.60,Mateus
100995,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,64.00,Mateus
100996,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,35.40,Mateus
100997,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,108.00,Mateus
100998,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,89.50,Mateus

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição